 
            <button class="close-btn">X</button>
            <img src="images/{{image}}">
            <h2 class="{{country}}"></h2>
            <h3 class="{{rank}}"></h3>
            <p class="{{total}}"></p>
      