<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="css/main.css">
    <title>THREE STARS MICHELIN RESTAURANTS IN THE WORLD</title>
</head>
<body>
    <main>
    <h1>Three Stars Michelin restaurants in the world</h1>
        <section class="usa">
        <span class="star" id="usa-star" data-target="1"><img src="images/rank-one.svg" alt="rank1">
            <object data="images/america.svg" type="image/svg+xml"></object>
        </span>
        </section>
        <!--usa-->
        <!-- <section class="hongkong">
        <span class="hong-star" data-target="2"><img src="images/rank-two.svg" alt="rank2">
        <object data="images/hongkong.svg" type="image/svg+xml"></object>
        </section>  -->
        <!--hongkong-->
        <section class="uk">
        <object data="images/rank-three.svg" type="image/svg+xml" class="uk-star" data-target="3"></object>
        </section>
        <!--uk -->
        <section class="macau">
        <object data="images/one-star.svg" type="image/svg+xml" class="macau-star" data-target="4"></object>
        </section>
        <!-- macau -->
        <section class="korea">
        <object data="images/one-star.svg" type="image/svg+xml" class="korea-star" data-target="5"></object>
        </section>
       <!-- South Korea!-->
         <section class="taiwan">
            <object data="images/one-star.svg" type="image/svg+xml" class="tai-star" data-target="6"></object>
        </section>
        <section class="austria">
        <object data="images/one-star.svg" type="image/svg+xml" class="au-star" data-target="7"></object>
        </section>
        <section class="sweden">
        <object data="images/one-star.svg" type="image/svg+xml" class="sw-star" data-target="8"></object>
        </section>
        <section class="norway">
        <object data="images/one-star.svg" type="image/svg+xml" class="no-star" data-target="9"></object>
        </section>
        <section class="denmark">
        <object data="images/one-star.svg" type="image/svg+xml" class="den-star" data-target="10"></object>
        </section> 
        <article class="popover">
            {{{body}}}
        </article>

    </main>
    <script src="js/main.js"></script>
</body>
</html>
