@media only screen and (max-width : 320px){
    main{
        background-image: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 115vh;
       
        h1{font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: red; display: none; } 
       
       //  object{
       //    width: 200px;
       //    height: 40px;
       //  }
       //I didn't use object tag
       
       .star{
       position: absolute;
       
       img{
        width: 27px;
        height: 15px;}
       
       }
       
        #usa-star
        {
      top: 7vh;
         left: 10vw;
        }
       
       
       
        #hong-star
        {
       
       position: relative;
       top: 10vh;
       left: 64vw;
        }
       
        #uk-star
        {
       
       position: relative;
       top:0vh;
       left: 35vw;
        }
       
        #macau-star
        {
        
        position: relative;
        top: 5vh;
        left: 67vw;
        }
       
        #korea-star
        {
       
       position: relative;
       top: -3vh;
       left: 76vw;
        }
       
        #tai-star
        {
       
       position: relative;
       top: -3vh;
        left: 70vw;
        }
       
        #au-star
        {
           position: relative;
           top: -12vh;
           left: 45%;
        }
       
        #no-star
        {
       
           position: relative;
           top:-10vh;
           left: 46%; 
        }
       
        #sw-star{
        position: relative;
        top: 0vh;
        left: 43vw; 
        }

        #den-star
        {
           position: relative;
           top: -30vh;
           left: 41%;
        }
       
        .popover { 
          display: none;
          position: absolute;
          top: 20vh;
          left: 25vw;
          background-color: skyblue;
          width:40vw;
          height: 50vh;
          z-index: 1;
          border-radius: 8px;
          padding: 4px;
        }
       
        .show-popover { 
           display: block;
           position: absolute;
             text-align: center;
          .flag{display: inline-block; width:15vw; height: 10vh; }
          
          .close-btn {
             border: none;
             background-color: skyblue;
             width: 55px;
             height: 30px;
             
             font-size: 1.2em;
       
          }
       
          }
       
       }

}

@media only screen and (min-width: 321px) and (max-width: 568px) {

    main{
        background-image: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 115vh;
    
        h1{font-family: 1.3rem "Lucida Grande", Helvetica, Arial, sans-serif;
            color: red; display: none; } 
       
       
       .star{
       position: absolute;
       
       img{
       width: 55px;
       height: 30px;}
       
       }
       
       #usa-star
       {
    
      
      top: 10vh;
        left:10vw;
      // left: 6%;
       }
      
      
      
       #hong-star
       {
      
      position: relative;
      top: 15vh;
      left: 65vw;
       }
      
       #uk-star
       {
      
      position: relative;
      top:2vh;
      left: 36vw;
       }
      
       #macau-star
       {
       
       position: relative;
       top: 7vh;
       left: 72vw;
       }
      
       #korea-star
       {
      
      position: relative;
      top: -4vh;
      left: 78vw;
       }
      
       #tai-star
       {
      
      position: relative;
      top: 2vh;
       left: 79%;
       }
      
       #den-star
       {
          position: relative;
          top: -27vh;
          left: 37vw;
       }
      
       #no-star
       {
      
          position: relative;
          top:-29vh;
          left: 46vw; 
       }
      
       #sw-star
       {
          position: relative;
          top:-29vh;
          left: 43vw; 
       }
       #au-star
       {
          position: relative;
          top: -12vh;
          left: 41vw;
       }
       }

       .popover { 
        display: none;
        position: absolute;
        top: 20vh;
        left: 20vw;
        background-color: skyblue;
        width:40vw;
        height: 55vh;
        z-index: 1;
        border-radius: 8px;
        padding: 4px;
      }
     
      .show-popover { 
         display: block;
         position: absolute;
           text-align: center;
        .flag{display: inline-block; width:20vw; height: 15vh; }
        
        .close-btn {
           border: none;
           background-color: skyblue;
           width: 35px;
           height: 20px;
           
           font-size: 1em;
     
        }
    
       }

}


@media only screen and (min-width: 569px) and (max-width: 960px) {

    main{
        background-image: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 115vh;
       
        h1{font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: red; display: none; } 
       
       //  object{
       //    width: 200px;
       //    height: 40px;
       //  }
       //I didn't use object tag
       
       .star{
       position: absolute;
       
       img{
       width: 110px;
       height: 40px;}
       
       }
       
        #usa-star
        {
       // position: relative;
       
       margin-top: 20vh;
       margin-left:10vw;
       // left: 6%;
        }
       
       
       
        #hong-star
        {
       
       position: relative;
       top: 15vh;
       left: 68vw;
        }
       
        #uk-star
        {
       
       position: relative;
       top:5vh;
       left: 38vw;
        }
       
        #macau-star
        {
        
        position: relative;
        top: 18vh;
        left: 76vw;
        }
       
        #korea-star
        {
       
       position: relative;
       top: 0vh;
       left: 78vw;
        }
       
        #tai-star
        {
       
       position: relative;
       top: -5vh;
        left: 64vw;
        }
       
        #den-star
        {
           position: relative;
           top: -30vh;
           left: 37vw;
        }
       
        #no-star
        {
       
           position: relative;
           top:-32vh;
           left: 46vw; 
        }
       
        #sw-star
        {
           position: relative;
           top:-32vh;
           left: 43vw; 
        }
        #au-star
        {
           position: relative;
           top: -15vh;
           left: 41vw;
        }
       
        .popover { 
          display: none;
          position: absolute;
          top: 20vh;
          left: 20vw;
          background-color: skyblue;
          width:50vw;
          height: 70vh;
          z-index: 1;
          border-radius: 8px;
          padding: 4px;
        }
       
        .show-popover { 
           display: block;
           position: absolute;
             text-align: center;
          .flag{display: inline-block; width:30vw; height: 35vh; }
          
          .close-btn {
             border: none;
             background-color: skyblue;
             width: 55px;
             height: 30px;
             
             font-size: 1.2em;
       
          }
       
          }
       
       }

}